[submodule "ghidra"]
	path = ghidra
	url = https://github.com/NationalSecurityAgency/ghidra.git
	shallow = true
[submodule "ghidra-mcp"]
	path = ghidra-mcp
	url = https://github.com/bethington/ghidra-mcp.git
	shallow = true
[submodule "lx-loader"]
	path = lx-loader
	url = https://github.com/felipe-dos-santos81/ghidra-lx-loader.git
	shallow = true
	branch = fix-object-permissions
[submodule "dos-toolbox"]
	path = dos-toolbox
	url = https://github.com/plaes/GhidraDosToolbox.git
	branch = wip-ghidra-12
	shallow = true
[submodule "ret-sync"]
	path = ret-sync
	url = https://github.com/bootleg/ret-sync.git
	branch = master
	shallow = true
	ignore = untracked
[submodule "GhidraFindcrypt"]
	path = GhidraFindcrypt
	url = https://github.com/antoniovazquezblanco/GhidraFindcrypt.git
	branch = main
	shallow = true
